.grid {
    display: grid;
    width: 240px;
    height: 360px;
    margin-left: 420px;
}

.numberDisplay {
    font-size: 1.5em;
}

.OneByFour {
    grid-column: 1 / 5;
}

.OneByTwo {
    grid-column: 3 / 5; 
}

.gridItem {
    background: slategrey;
    text-align: center;
    border: 1px solid black;
    padding: 5px 5px;
}

.buttonPress {
    background: orange;
    color: black;
    border: 2px solid black;
    padding: 4px 4px;
}

.buttonHover {
    background: lightgrey;
    border: 2px solid black;
    padding: 4px 4px;
}